{% extends "base.html" %}

{% block content %}
<div class="container mt-4" style="">
    <h1 style="margin:auto;">Account Overview</h1>
    <p><strong>Username:</strong> <label class="form-control">{{ user.username }} </label></p>
    <p><strong>Account Number:</strong> <label class="form-control">{{ account.account_number }} </label></p>
    <p><strong>Account Type:</strong><label class="form-control"> {{ account.account_type }}</label></p>
    <p><strong>Account Balance:</strong><label class="form-control"> ${{ account.account_balance }}</label></p>
    
    <a href="{% url 'deposit'  %}" class="btn btn-primary">Deposit Money</a>
    <a href="{% url 'withdraw' %}" class="btn btn-primary">Withdraw Money</a>
    <a href="{% url 'delete_account' %}" class="btn btn-danger">Delete Account</a>
    <a href="{% url 'transaction-list' %}" class="btn btn-primary">View Transaction History</a>

</div>
{% endblock %}
